.stickyContainer{
    position: relative;
    height: 500vh;
}

.portfolioFrameContainer {
    top:0;
    position: sticky;
    height: 100vh;
    overflow: hidden; 
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: #F7F5EB;
    
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    height: 170px;
    border-bottom: 2px solid #000;
}

.portfolioTextContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.portfolioText {
    font-size: 130px;
    letter-spacing: 30px;
    font-weight: 300;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.descriptionTextContainer {
    display: flex;
    width: 36rem;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 27px;
}

.descriptionText {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    line-height: 149.5%;
    letter-spacing: 1px;
}

.projectsContainer {
    height: calc(100% - 170px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px
}

.projectStripe {
    display: flex;
    gap: 3rem;
    align-items: center;
    height: 620px;
    width: 100%;
}

.project {
    list-style: none;
    padding: 0;
    display: flex;
}

@keyframes shiftToLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}