html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk';
  line-height: 1.6;
  font-size: 18px;
  background-color: #F7F5EB;
}

div,
p 
{
  font-family: 'Space Grotesk';
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}