.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Create 12 equal-width columns */
    gap: 20px; /* Add 20 pixels of spacing between columns */
    height: 100%;
    margin-left: 60px;
    margin-right: 60px;
    z-index: -1;
  }
  
  .column {
    background-color: rgba(207, 26, 26, 0.075); /* Set the opacity of the columns */
  }

  .content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #F7F5EB;
  }

  .secondaryFrameContent{
    background-color: #F7F5EB;
  }